<div {% if page.url == "/" %} class="socials socials-fixed" {% endif %} class="socials">
    <a title="email" href="mailto:varona@cs.toronto.edu" target="_blank"><img src="{{ 'assets/media/icon-mail.png' | relative_url }}"></a>
    <a title="twitter" href="http://twitter.com/infairvar" target="_blank"><img src="{{ 'assets/media/icon-twt.svg' | relative_url }}"></a>
    <a title="linkedin" href="http://linkedin.com/in/mjvar" target="_blank"><img src="{{ 'assets/media/icon-in.svg' | relative_url }}"></a>
    <a title="playlists" href="https://open.spotify.com/user/12185312458/playlists" target="_blank"><img src="{{ 'assets/media/icon-spot.svg' | relative_url }}"></a>
    <a title="itch" href="http://infairvar.itch.io" target="_blank"><img src="{{ 'assets/media/icon-itch.png' | relative_url }}"></a>
    <a title="rateyourmusic" href="https://rateyourmusic.com/~infairvar" target="_blank"><img src="{{ 'assets/media/rym.png' | relative_url }}"></a>
    <a title="<3" href="http://weheart.github.io" target="_blank"><img src="{{ 'assets/media/icon-heart.png' | relative_url }}"></a>
</div>