<div {% if page.url == "/" %} class="socials socials-fixed" {% endif %} class="socials">
    <a title="email" href="mailto:varona@cs.toronto.edu" target="_blank"><img src="{{ 'assets/media/icon-mail.png' | relative_url }}"></a>
    <a title="bluesky" href="https://bsky.app/profile/matthew.wiki" target="_blank"><img src="{{ 'assets/media/icon-bsky.svg' | relative_url }}"></a>
    <a title="linkedin" href="http://linkedin.com/in/mjvar" target="_blank"><img src="{{ 'assets/media/icon-in.svg' | relative_url }}"></a>
    <a title="itch" href="http://infairvar.itch.io" target="_blank"><img src="{{ 'assets/media/icon-itch.png' | relative_url }}"></a>
    <a title="rateyourmusic" href="https://rateyourmusic.com/~infairvar" target="_blank"><img src="{{ 'assets/media/rym.png' | relative_url }}"></a>
</div>
