<div {% if page.url == "/" %} class="socials socials-fixed" {% endif %} class="socials">
    <a title="email" href="mailto:varona@cs.toronto.edu" target="_blank"><img src="assets/media/icon-mail.png"></a>
    <a title="twitter" href="http://twitter.com/infairvar" target="_blank"><img src="assets/media/icon-twt.svg"></a>
    <!-- <a title="github" href="http://github.com/mjvar" target="_blank"><img src="assets/media/icon-git.svg"></a> -->
    <a title="linkedin" href="http://linkedin.com/in/mjvar" target="_blank"><img src="assets/media/icon-in.svg"></a>
    <a title="playlists" href="https://open.spotify.com/user/12185312458/playlists" target="_blank"><img src="assets/media/icon-spot.svg"></a>
    <!-- <a title="soundcloud" href="http://soundcloud.com/matthew-varona" target="_blank"><img src="media/icon-sound.svg"></a> -->
    <a title="itch" href="http://infairvar.itch.io" target="_blank"><img src="assets/media/icon-itch.png"></a>
    <a title="rateyourmusic" href="https://rateyourmusic.com/~infairvar" target="_blank"><img src="assets/media/rym.png"></a>
    <a title="<3" href="http://weheart.github.io" target="_blank"><img src="assets/media/icon-heart.png"></a>
</div>